<h1>NetworksDeployer</h1>
<div class="container form-container">
    <div class="row">
        <div class="col-md-6 form-section">
            @if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                <div class="alert alert-success">
                    @ViewBag.Message
                </div>
            }

            @if (ViewData.ModelState.Count > 0 && !ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    <strong>Error:</strong> Please correct the errors below.
                </div>
            }
            <p>Make sure the excel file looks like this: doe maar wat</p>
            <p>Note: multiple devices can be claimed in different networks. For longer files make sure to refresh the API Key before Confirming.</p>
            <form asp-action="NetworkDeployer" asp-controller="Home" method="post" enctype="multipart/form-data" id="NetworkDeployerForm">
                <div class="form-group">
                    <label for="ExcelFile">Upload Excel File</label>
                    <input type="file" class="form-control" id="ExcelFile" name="ExcelFile" accept=".xls,.xlsx" required />
                    <small class="form-text text-muted">Allowed file types: .xls, .xlsx</small>
                </div>
                <button type="submit" id="submitNetworkDeployer" class="btn btn-primary">Confirm NetworkDeployer</button>
            </form>
        </div>

        <div class="col-md-6 form-section">
            <h3> Feedback:</h3>
            <div id="feedback" class="feedback-container"></div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<script src ="~/js/signalr/feedbackHub.js"></script>
