html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-container {
    margin-top: 50px;
}

.form-section {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}
h3 {
    text-align: center;
}
p {
    text-align: center;
}

button[type="submit"] {
    display: inline-block;
    width: 100%; /* Full width */
    font-size: 1rem; /* Adjust font size if needed */
    text-align: center; /* Centers text */
    vertical-align: middle;
    margin-top: 10px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
    button[type="submit"]:hover,
    button[type="submit"]:focus {
        background-color: #0056b3; /* Darker primary color */
        border-color: #0056b3; /* Darker border color */
        color: white;
    }

    button[type="submit"]:disabled {
        cursor: not-allowed;
        opacity: 0.65;
    }


.toggle-visibility {
    cursor: pointer;
}

.feedback-container {
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    max-height: 200px;
    overflow-y: auto; /* Scroll als er veel feedback is */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .feedback-container div {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: #fff; /* Witte achtergrond voor elke melding */
        border-left: 5px solid #025866; /* Teal accent aan de linkerkant */
        color: #333; /* Tekstkleur */
        font-family: Arial, sans-serif;
        font-size: 14px;
    }
